body{
    margin: 0 auto;
}

.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    background-repeat: no-repeat;
    background-color: yellow;
}
.titulo{
    font-size: 35px;
    margin:  0 0 20px 0;
    text-align: center;
    color: blue;
}
.titulo span{
    font-size: 26px;
    text-align: center;
    color: #000;
}


/* CONTENEDOR PADRE */
.grid-container{
    height: 600px;
    background-color: red;
    margin-top: 20px;
    display: grid;    
    grid-template-columns: 100px 100px 100px 100px;
    grid-template-rows: 100px 100px 100px; 
    column-gap: 20px;
    row-gap: 10px;
    
    /* ALINEACION de cuadriculas EN COLUMNAS : start | end | center | stretch | space-around | space-between | space-evenly;  */
    justify-content: center; 

    /* ALINEACION de cuadriculas EN FILAS :  align-content: start | end | center | stretch | space-around | space-between | space-evenly; */
    align-content: space-around; 
}


.grid-item{
    border: solid 1px;
    border-radius: 10px;
    font-size: 18px;
}


.grid-item:first-child{
    background-image: url('../img/img01.jpg');

    grid-column: 1 / 2;
    grid-row: 1 / 3;
}

.grid-item:nth-child(2){
    background-image: url('../img/img02.jpg');
    background-position: bottom;

}
.grid-item:nth-child(3){
    background-image: url('../img/img03.jpg');
    background-position: bottom;
    grid-column: 3 / 5;
    grid-row: 1 / 2;
}

.grid-item:nth-child(4){
    background-image: url('../img/img04.jpg');

    grid-column: 2 / 3;
    grid-row: 2 / 4;
}

.grid-item:nth-child(5){
    background-image: url('../img/img05.jpg');

}

.grid-item:nth-child(6){
    background-image: url('../img/img06.jpg');
    background-position: bottom;
}

.grid-item:nth-child(7){
    background-image: url('../img/img07.jpg');

}

.grid-item:last-child{
    background-image: url('../img/img08.jpg');
    background-position: bottom;

    grid-column: 3 / 5;
    grid-row: 3 / 4;
}
