.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    background-repeat: no-repeat;
}
.titulo{
    font-size: 35px;
    margin:  0 0 20px 0;
    text-align: center;
    color: blue;
}
.titulo span{
    font-size: 26px;
    text-align: center;
    color: #000;
}

/*
CONTENEDOR PADRE
grid-template-columns
    - Indica cantidad de columnas en la grilla.
    - Da el tamaño de cada columna en la grilla.

grid-template-rows
    - Indica cantidad de filas en la grilla.
    - Da el tamaño de cada fila en la grilla.

grid-template
    - Indica la cantidad de filas y columnas a la vez
    (filas / columnas)
    ejm : grid-template : 100px 50px / 40px 20px
*/

.grid-container{
    display: inline-grid;
    /*grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 90px 100px;*/
    grid-template : 100px 100px 50px / 100px 80px 100px 
}


.grid-item{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px;
    font-size: 18px;
    /*padding: 20px;*/
}
