.main_container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #000;
    background-repeat: no-repeat;
    background-color: yellow;
}
.titulo{
    font-size: 35px;
    margin:  0 0 20px 0;
    text-align: center;
    color: blue;
}
.titulo span{
    font-size: 26px;
    text-align: center;
    color: #000;
}

/*
CONTENEDOR PADRE

column-gap : da espacio solo entre columnas.

row-gap : da espacio solo entre filas.

gap : da el mismo espacio entre filas y columnas


Forma antigua :
    grid-column-gap : <line-size>;
    grid-row-gap    : <line-size>;
*/

.grid-container{
    display: grid;    
    grid-template-columns: 200px 200px 1fr;
    grid-template-rows: 50% 50% 100%; 
    
    column-gap: 20px;
    row-gap: 10px;
    /*gap: 20px;*/

}


.grid-item{
    border: solid 1px;
    font-size: 18px;
}